/*------Navigation--------*/

.navbar-login, .navbar-signup {
    font-size: 12px;

}

button:hover {
    background-color: rgb(60, 196, 60);
    color: white !important;
    font-weight: bold;
}

.logo-navbar{
height: 3.5rem;
}


/*------Footer--------*/

    footer {
    background-color: #40474e;
    color: white;
    margin-top: .2rem;
}

footer img {
    height: 2.5rem;
    margin: 1.5rem 0;
}

footer a {
    color: lightgrey;
    margin-left: 10px;
    font-size: 25px;
}

footer a:hover {
    color: #fe5000;
}

footer p {
    font-size: 12px;
}








