@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);

#app {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


.row {
    border-radius: 10px;
}

#module {
  font-size: 14px;
  line-height: 1.5;
  //display: inline;
}

#module a.collapsed::after  {
    content: '>> Show List';
    color: yellowgreen;
    padding: 5px;
    margin-left: 15px;
    //box-shadow: 1px 1px 2px gray;
    border-radius: 15px;
}

#module a:not(.collapsed)::after {
    content: '<< Hide List';
    color: orange;
    padding: 5px;
    margin-left: 15px;
    //box-shadow: 1px 1px 2px gray;
    border-radius: 15px;
}

.xlButton {
    background-color: #fe5000;
    color:white;
    //border: solid 1px white;
    border-radius: 15px;
    text-decoration: none;
    width: 60% !important;
	background: linear-gradient(#fe5000, orange);
    box-shadow: 1px 5px 12px gray, inset 1px 4px 5px rgb(255, 255, 255);
}

.xlButton:hover {
    background-color:  lightgreen;
    background: linear-gradient(rgb(0, 255, 115),rgb(12, 160, 37));
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 1px 3px 5px gray, inset 2px 3px 3px rgb(255, 255, 255);
}

.xlButton:active {
    background-color: gray;
    background: linear-gradient(gray, lightgray);
    color: white;
    box-shadow: 1px 3px 5px gray, inset 2px 3px 3px rgba(255, 255, 255, 0.808);
}

.flag {
    filter: saturate(2);
}

a:hover {
    text-decoration: none;
}

.addWindow {
    border-radius: 30px;
    border: solid 2px lightgray;
}

.x {
    color: orangered;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
}

.x:hover {
    background-color: rgb(248, 50, 1);
    color: lightgray;
}

.wrapper {
    background-color:rgb(240, 240, 240);
    box-shadow: inset 0px 2px 15px gray;
}

.pageTitle {
    color: #fe5000;
    background-color: rgb(246, 246, 246);
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 8px;
    text-shadow: 0px 1px 4px rgb(150,150,150);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px rgb(255, 255, 255), inset -2px -2px 6px rgb(180, 180, 180);
}

.underTitle {
    font-weight: 1000;
    color: rgb(228, 228, 228);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: -1px -1px 0px darkgray, 1px 1px 0px white;
}

.pageEntry {
    color: #fe5000;
    font-weight: 300;
    text-shadow: 1px 1px 4px rgb(180, 180, 180);
}

select {
    background-clip: text;
    box-shadow: -1px -2px 0px darkgray, 1px 2px 0px white;
}

.smallView {
    background-color: white !important;
    color: yellowgreen;
    border-radius: 15px;
    border: solid 1px yellowgreen;
    box-shadow: 1px 1px 5px gray;
}

.smallView:hover {
    color: white !important;
    background-color: yellowgreen !important;
    box-shadow: 0px 1px 15px yellowgreen;
    font-weight: 500;
    border: solid 1px white;
}

.smallDelete {
    background-color: white !important;
    color: orangered;
    border-radius: 15px;
    border: solid 1px orange;
    box-shadow: 1px 1px 5px gray;
}

.smallDelete:hover {
    color: white !important;
    background-color: #fe5000 !important;
    box-shadow: 0px 1px 15px orangered;
    font-weight: 500;
    border: solid 1px white;
}

.addButton {
    padding-left: 10px;
    padding-right: 10px;
    width: 50px !important;
    color: white;
    background-image: linear-gradient(rgb(50, 200,50), rgb(217, 255, 174)); 
    border-radius: 15px;
    border: solid 1px rgb(46, 196, 46);
    font-weight: 400;
}

.addButton:hover {
    background-image: transparent;
    background-color: lightgreen !important;
    color: green !important;
    font-weight: 500;
    box-shadow: 1px 3px 10px gray;
}

.createTrip:hover {
    border-radius: 50px;
    box-shadow: 5px 10px 15px lightgreen;
}

.createTrip {
    max-width: 100%;
    height: 70px;
}

.take-pic{
    max-width: 100%;
    height: 100px;
}

.logout{
    background: linear-gradient(#fe5000, orange);
    color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 5px gray, inset 2px 3px 3px rgba(255, 255, 255, 0.808);
}

.entry {
    color: #fe5000;
    text-shadow: 0px 0px 3px white;
    padding-top: 5px;
    border-radius: 15px;
    padding: 3px;
    margin-left: 3px;
    font-weight: 300;
}

.entry-block {
    border-radius: 20px;
    background-color: rgb(243,243,243);
    border: solid 1px #fe5000;
    box-shadow: inset 0px -1px 5px rgb(251, 218, 108);
    margin-left: 5px;
    margin-right: 5px;
    max-width: 99%;
    padding: 3px;
}


.entry-row {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15px;
}

.entry-row:hover {
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
    color: rgb(254,80,0);
    font-size: 1.1em;
}

a:link {
    color: rgb(254,80,0);
}

a:hover {
    color: rgb(107,202,186);
    text-shadow: 1px 0px 2px darkslategray;
}

hr {
    border: solid 1px #fd6e2b;
    width: 100%
}
.navbar-toggler:hover{
    background-color:lightgray;
}
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-name{
    font-size: 30px;
}

.edit-profileIcon{
    border:none;
    background: #f5f5f5;
    font-size: 22px;
}
.main-landing {
    //background-color: rgba(250, 80, 0, 0.5);
  background: #fd6e2b;
  border: solid 2px white;
  margin-top: auto;
  margin-bottom: 50px;
  width: 90%;
  
  
  //height: 100vh;
  //font-size: 92px;
  //position: relative;
  //bottom: 250px;
  
}

.stamp-prev{
    height: 6rem;
    width: 6rem;
}

.country-name{
    font-size: 18px;
}




/*------Navigation--------*/

.navbar-login, .navbar-signup {
    font-size: 1.0em;
}

button:hover {
    background-color:#fe5000 ;
    color: white !important;
}


.logo-navbar{
    height: 4rem;
}



.navicon-cont{
    text-align: center;
}
/*------- Log IN ---------*/

.title h1 {
  font-size: 3.5em;
  color: #fff;
}

.bar {
  height: .25em;
  width: 100%;
  background: #fff;
  margin: 1.5em auto 0;
}
.title, .form, .signup-cont{
    margin: auto;
}
.main {
  background: #fd6e2b;
  border: solid 2px white;
  margin-top: auto;
  margin-bottom: 150px;
  //max-width: 100%;
  //height: 100vh;
  font-size: 10px;
}

input[type=text], input[type=password], input[type=email] {
  font-size: 20px;
  padding: .55em;
  width: 100%;
  margin-bottom: 1em;
  border: none;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder,input[type=email]::-webkit-input-placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  transition: all 0.5s ease;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  transition: all 0.5s ease;
}
input[type=text]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  transition: all 0.5s ease;
}
input[type=text]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder {
  color: #aaaaaa;
  position: relative;
  padding: 0;
  transition: all 0.5s ease;
}
input[type=text]:hover::-webkit-input-placeholder, input[type=text]:focus::-webkit-input-placeholder, input[type=password]:hover::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder, input[type=email]:hover::-webkit-input-placeholder, input[type=email]:focus::-webkit-input-placeholder {
  padding-top: 3em;
}
input[type=text]:hover:-ms-input-placeholder, input[type=text]:focus:-ms-input-placeholder, input[type=password]:hover:-ms-input-placeholder, input[type=password]:focus:-ms-input-placeholder, input[type=email]:hover:-ms-input-placeholder, input[type=email]:focus:-ms-input-placeholder {
  padding-top: 3em;
}
input[type=text]:hover::-ms-input-placeholder, input[type=text]:focus::-ms-input-placeholder, input[type=password]:hover::-ms-input-placeholder, input[type=password]:focus::-ms-input-placeholder, input[type=email]:hover::-ms-input-placeholder, input[type=email]:focus::-ms-input-placeholder {
  padding-top: 3em;
}
input[type=text]:hover::placeholder, input[type=text]:focus::placeholder, input[type=password]:hover::placeholder, input[type=password]:focus::placeholder, input[type=email]:hover::placeholder, input[type=email]:focus::placeholder {
  padding-top: 3em;
}

.form h2 {
  text-align: left;
  font-weight: 300;
  color: #fff;
  margin-bottom: .5em;
}
.form h4 {
  font-weight: 300;
  color: #fff;
  margin-top: 2em;
}

.login, .signup {
  color: white;
  width: 6em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: transparent;
  transition: all 200ms ease-in;
  border-radius: .65em;
}
.login:hover, .signup:hover, .login:focus, .signup:focus {
  background: white;
  color: #f58421 !important;
  border: solid 1px white;
}

.signup {
  font-size: .5em;
  position: relative;
  left: 1.5em;
}

h1, h2, h3, h4, h5, h6, input {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.input-cont2{
    margin-bottom: 30px;

}

/*------Main gate--------*/

#worldMap{
    max-width: 100%;
    height: auto;
    //position: absolute;
    //left: 0px;
    //top: 0px;
    //z-index: -1;
    //margin-bottom: 10px;
}

/*------Footer--------*/



footer img {
    height: 2.5rem;
    margin: 1.5rem 0;
}

footer a {
    color: lightgrey;
    margin-left: 10px;
    font-size: 20px;
}

footer a:hover {
    color: #fe5000;
}

footer p {
    font-size: 12px;
}

/*-----Main-----*/
.icon {
  display: inline-block;

}
.icon img {
  display: block;
}

.icon-main{
     width: 100px;
    height: 100px;
}

.textfield {
    border: solid 1px lightgray !important;
    border-radius: 15px;
    padding: 1px !important;
    padding-left: 5px !important;
    margin: 1px !important;
    font-size: 1em !important;
    color: gray;
}

.textfield:focus {
    border: solid 1px orange;
    border-radius: 15px;
    background-color: rgb(255,255,255);    
    outline: none;    
    box-shadow: inset 0px -1px 15px rgb(255, 236, 128); 
}

/*-----Travel doc-----*/

.travel-doc{
    max-width: 50%;
    height: 150px !important;
}

/*-------Icons Transition------*/


.iconbtn {
    width: 60px;
    height: 70px;
}

.s2 .iconbtn:hover {
  animation: ro 2s linear infinite;
}

@keyframes ro {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}



